@model SistemaVentaEntradasApp.Models.Concierto

<h2>Editar Concierto</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Campo oculto para ConciertoID -->
    @Html.HiddenFor(model => model.ConciertoID)

    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Fecha</label>
        @Html.TextBoxFor(model => model.Fecha, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
    </div>
    <div class="form-group">
        <label>Lugar</label>
        @Html.TextBoxFor(model => model.Lugar, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
}

<p>
    @Html.ActionLink("Volver a la lista", "Index")
</p>
